<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-- Mini Chat App --</title>
    <link rel="stylesheet" href="/style.css">
    

</head>
<body>
    
    <h3>All Chats Listed Here</h3>

    <a href="/chats/new">
        <button>New Chat</button>
    </a>

    <hr>
    <% for(let chat of chats){ %>
        <div class="chat" >
            <p> from : <%= chat.from %> </p>
            <div class = "msg">
                <p> msg : <%= chat.msg %></p>
                <form action="chats/<%=chat._id%>/edit"><button>Edit</button></form><br>
                <form method="POST" action="chats/<%=chat._id%>?_method=DELETE"><button>Delete</button></form>
            </div>
            <p>Recieved by : <%= chat.to %> </p>
            <p> <%= chat.created_at.toString().split(" ")[4] %> </p>
            <p> <%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
           
        </div>
        <hr>
       <% } %> 

</body>
</html>